<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <script
      src="https://unpkg.com/htmx.org@1.8.6"
      integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous"
    >
  </head>
  <body>
    <header><h1>{{ title }}</h1></header>
    <main>{% block main %}{% endblock %}</main>
  </body>
</html>